<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="./angular-material/angular-material.css">
  <link rel="stylesheet" href="./md-date-range-picker.css">
</head>

<body ng-app="demo.app" ng-cloak>
  <div ng-controller="ctrl">
    <h1>{{'2016-09-26T14:47:56Z' | date: 'medium'}}</h1>
    <md-button class="md-raised md-primary" ng-click="pick($event, false)">Pick A Date Range</md-button>
    <md-button class="md-raised md-primary" ng-click="pick($event, true)">Pick A Date Range With Template</md-button>
    <md-button class="md-raised md-primary" ng-click="clear($event)">Clear Range</md-button>
    <span>
    <md-date-range ng-model="selectedRange" placeholder="Select Date Range"></md-date-range>
    </span>
    <h2>Selected Date Range: {{selectedRange.dateStart | date}} - {{selectedRange.dateEnd | date}}</h2>
    <h2>Selected Date Template:{{selectedRange.selectedTemplateName}} - {{selectedRange.selectedTemplate}}</h2>
    <div layout layout-margin>
      <div>
        <h2>One panel with maxRange = 7</h2>
        <md-date-range-picker
          md-on-select="onSelect()"
          date-start="selectedRange.dateStart"
          date-end="selectedRange.dateEnd"
          selected-template-name="selectedRange.selectedTemplateName"
          selected-template="selectedRange.selectedTemplate"
          show-template="true"
          first-day-of-week="0"
          localization-map="mdLocalizationMap"
          max-range="7"
          one-panel="true"
        ></md-date-range-picker>
      </div>
      <div>
        <h2>Disabled future Dates</h2>
        <md-date-range-picker
          md-on-select="onSelect()"
          date-start="selectedRange.dateStart"
          date-end="selectedRange.dateEnd"
          selected-template-name="selectedRange.selectedTemplateName"
          selected-template="selectedRange.selectedTemplate"
          show-template="true"
          first-day-of-week="0"
          one-panel="true"
          is-disabled-date="isDisabledDate($date)"
        ></md-date-range-picker>
      </div>
      <div>
        <h2>md-date-range-picker with custom template disabled weekend</h2>
        <md-date-range-picker
          md-on-select="onSelect()"
          date-start="selectedRange.dateStart"
          date-end="selectedRange.dateEnd"
          selected-template-name="selectedRange.selectedTemplateName"
          selected-template="selectedRange.selectedTemplate"
          show-template="true"
          first-day-of-week="0"
          localization-map="mdLocalizationMap"
          custom-templates="mdCustomTemplates" 
          is-disabled-date="isDisabledWeekend($date)" 
          disable-templates="TW,LW"
        ></md-date-range-picker>
      </div>
    </div>
  </div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="./angular/angular.js"></script>
  <script src="./angular-animate/angular-animate.js"></script>
  <script src="./angular-aria/angular-aria.js"></script>
  <script src="./angular-messages/angular-messages.js"></script>

  <!-- Angular Material Library -->
  <script src="./angular-material/angular-material.js"></script>

  <!-- Angular Material Date Range Picker Library -->
  <script src="./md-date-range-picker.js"></script>

  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    angular.module('demo.app', ['ngMaterial', 'ngMaterialDateRangePicker']).controller('ctrl',function($scope, $mdDateRangePicker){
       var tmpToday = new Date(); 
       $scope.mdCustomTemplates = [
            {   name:"Last 3 Months",
                dateStart: new Date((new Date()).setMonth(tmpToday.getMonth() - 3)),
                dateEnd : new Date()
            },
            {
                name:"Last 6 Months",
                dateStart: new Date((new Date()).setMonth(tmpToday.getMonth() - 6)),
                dateEnd : new Date()
            }
      ];
      $scope.mdLocalizationMap =  {
            'Mon':'Mon*',
            'This Week':'Current Week',
      };
      var tmpToday = new Date();
      $scope.mdCustomTemplates = [
            {   name:"Last 3 Months",
                dateStart: new Date((new Date()).setMonth(tmpToday.getMonth() - 3)),
                dateEnd : new Date()
            },
            {
                name:"Last 6 Months",
                dateStart: new Date((new Date()).setMonth(tmpToday.getMonth() - 6)),
                dateEnd : new Date()
            }
        ];
      $scope.selectedRange = {selectedTemplate:'TW', 
                              selectedTemplateName: 'This Week',
                              dateStart: null, 
                              dateEnd: null, 
                              showTemplate: false, 
                              fullscreen: false, 
                              firstDayOfWeek: 0,
                              localizationMap:$scope.mdLocalizationMap,
                              customTemplates:$scope.mdCustomTemplates,
                              disableTemplates:"TW,LW",
                              showClear:true,
                            };
                              
      $scope.onSelect = function(scope){ console.log($scope.selectedRange.selectedTemplateName); return $scope.selectedRange.selectedTemplateName; };
      $scope.pick = function($event, showTemplate){
        console.log('Button Fired!');
        $scope.selectedRange.showTemplate = showTemplate;
        $mdDateRangePicker.show({targetEvent:$event, model:$scope.selectedRange} ).then(function(result){
          if(result) $scope.selectedRange = result;
        })
      };
      $scope.clear = function (){
        $scope.selectedRange.selectedTemplate = null;
        $scope.selectedRange.selectedTemplateName = null;
        $scope.selectedRange.dateStart = null;
        $scope.selectedRange.dateEnd = null;
      }
      $scope.isDisabledDate = function($date){
        return $date > new Date();
      }
      $scope.isDisabledWeekend = function($date){
        return [0,6,7].indexOf($date.getDay()) > -1;
      }
    });
  </script>

</body>

</html>