<div class="md-date-range-picker md-whiteframe-1dp">
    <div layout="row">
        <div class="md-date-range-picker__footer" flex layout="column" layout-align="center space-arround">
                <md-button flex class="md-primary" ng-click="ctrl.handleClickSelectToday()">Today</md-button>
                <md-button flex ng-click="ctrl.handleClickSelectYesterday()">Yesterday</md-button>
                <md-button flex ng-click="ctrl.handleClickSelectThisWeek()">This Week</md-button>
                <md-button flex ng-click="ctrl.handleClickSelectLastWeek()">Last Week</md-button>
                <md-button flex ng-click="ctrl.handleClickSelectThisMonth()">This Month</md-button>
                <md-button flex ng-click="ctrl.handleClickSelectLastMonth()">Last Month</md-button>
                <md-button flex ng-click="ctrl.handleClickSelectThisYear()">This Year</md-button>
                <md-button flex ng-click="ctrl.handleClickSelectLastYear()">Last Year</md-button>
        </div>
        <div layout="row">
            <div class="md-date-range-picker__calendar-wrapper" style="width: 308px">
                
                <div class="md-date-range-picker__title" layout="row" layout-align="center center">
                    <span>{{ctrl.selectedDateText()}}</span>
                </div>
                <div class="md-date-range-picker__month-year" layout="row" layout-align="center center">
                    <div flex layout="column" layout-align="center center">
                        <md-button class="md-icon-button" ng-click="ctrl.handleClickPrevMonth($event)">
                            <md-icon md-svg-src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnPjxwb2x5Z29uIHBvaW50cz0iMTUuNCw3LjQgMTQsNiA4LDEyIDE0LDE4IDE1LjQsMTYuNiAxMC44LDEyICIvPjwvZz48L3N2Zz4="></md-icon>
                        </md-button>
                    </div>
                    <md-select md-on-close="ctrl.updateActiveDate()" ng-model="ctrl.activeMonth" placeholder="Month" class="md-no-underline">
                        <md-option ng-value="month.id" ng-repeat="month in ctrl.months" ng-bind="month.name"></md-option>
                    </md-select>
                    <md-select md-on-close="ctrl.updateActiveDate()" ng-model="ctrl.activeYear" placeholder="Year" class="md-no-underline">
                        <md-option ng-value="year.id" ng-repeat="year in ctrl.years" ng-bind="year.name"></md-option>
                    </md-select>
                    <div flex layout="column" layout-align="center center" >
                        <md-button class="md-icon-button" ng-click="ctrl.handleClickNextMonth($event)">
                            <md-icon style="transform: rotate(-180deg)" md-svg-src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnPjxwb2x5Z29uIHBvaW50cz0iMTUuNCw3LjQgMTQsNiA4LDEyIDE0LDE4IDE1LjQsMTYuNiAxMC44LDEyICIvPjwvZz48L3N2Zz4="></md-icon>
                        </md-button>
                    </div>
                </div>
                <div class="md-date-range-picker__week" style="font-size: 0;">
                    <span class="md-date-range-picker__calendar__grid">Sun</span>
                    <span class="md-date-range-picker__calendar__grid">Mon</span>
                    <span class="md-date-range-picker__calendar__grid">Tue</span>
                    <span class="md-date-range-picker__calendar__grid">Wed</span>
                    <span class="md-date-range-picker__calendar__grid">Thu</span>
                    <span class="md-date-range-picker__calendar__grid">Fri</span>
                    <span class="md-date-range-picker__calendar__grid">Sat</span>
                </div>
                <div class="md-date-range-picker__calendar">
                    <span ng-repeat="date in ctrl.dates" class="md-date-range-picker__calendar__grid" ng-class="{'md-date-range-picker__calendar__selected':ctrl.inSelectedDateRange(date), 'md-date-range-picker__calendar__start':ctrl.isSelectedStartDate(date), 'md-date-range-picker__calendar__end':ctrl.isSelectedEndDate(date), 'md-date-range-picker__calendar__not-in-active-month': !ctrl.inCurrentMonth(date), 'md-date-range-picker__calendar__today' : ctrl.isToday(date) }"
                        ng-click="ctrl.handleClickDate($event, date)">
                        <span class="md-date-range-picker__calendar__selection" ng-bind={{::date.getDate()}}></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>